body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
.header-right{
  position: absolute;
  right: 0;
  top: 25px;
  width: 15rem;
  height: 8rem;
}
.header-phone{
  color: #fff;
  position: absolute;
  right: 0;
  top: 155px;
    width: 15rem;
  height: 8rem;
}
.footer-info{
  display: flex;
  position: absolute;
  right: 55px;
  list-style: none;
  gap: 15px;
}
.logo{
  border: 3px solid #f39c12;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

body {
  color: white;
  background-color: black;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.headertitle{
  display: flex ;
  justify-content: center;
  gap: 10px;
}
.container {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  flex-basis: 320px;

  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
.menu-list {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

}

.menu-item {
  background-color: white;
  border: 1px solid #ddd;
  color: black;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.menu-item h3 {
  margin-bottom: 10px;
  color: #333;
}

#about {
  text-align: center;
}

#contact {
  text-align: center;
  padding: 40px 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover {
  color: #413c3c;
}
.siparisContainer{
  display: flex;
  list-style: none;
  width: 25rem;
  margin-left: 27rem;
  gap: 20px;
}
.siparisIcon{
  width: 85px;
  height: 70px;
  border-radius: 50%;
}

.siparisIcon:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}